.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
private/
Templates/
templates/
FleetingNotesApp/
LYT Kit/
Meetings/
Old Blog Posts/
PKM LM/
Tasks/
To read/
Resources/
Secret Sales Help Centre/
smart-chats/
Daily Notes/
Large Attachments/
blog/
Clippings/
Day One (pile to possibly ignore if you get the importer plugin working on the json)/
day-one-in/
L101/
Day-one-entries/
day-one-entries/
FleetingNotesApp/
L101/
Drafts/
.obsidian/
